{%- doc -%}
  Featured promo tile for the collection product grid.
  Data source: collection metafield custom.grid_promos (list of collection_grid_promo metaobjects).

  @param {object} promo - Metaobject entry
  @param {string} promo_id - Unique id for the list item
{%- enddoc -%}

{%- liquid
  assign layout = promo.layout.value | default: promo.layout | default: 'text-left'
  assign col_span = promo.column_span.value | default: promo.column_span | default: 2
  assign heading = promo.heading.value | default: promo.heading
  assign text_field = promo.text.value | default: promo.text
  assign promo_image = promo.image.value | default: promo.image
  assign tag_1 = promo.tag_1.value | default: promo.tag_1
  assign tag_2 = promo.tag_2.value | default: promo.tag_2
  assign tag_3 = promo.tag_3.value | default: promo.tag_3
  assign button_label = promo.button_label.value | default: promo.button_label
  assign button_link = promo.button_link.value | default: promo.button_link
-%}

<li
  id="{{ promo_id }}"
  class="product-grid__item product-grid__promo product-grid__promo--{{ layout }}"
  style="--promo-col-span: {{ col_span }};"
>
  <div class="collection-grid-promo collection-grid-promo--{{ layout }}">
    {%- if layout == 'image-left' -%}
      <div class="collection-grid-promo__media">
        {%- if promo_image != blank -%}
          {{
            promo_image
            | image_url: width: 800
            | image_tag:
              loading: 'lazy',
              widths: '400, 600, 800',
              sizes: '(min-width: 750px) 40vw, 100vw',
              class: 'collection-grid-promo__image'
          }}
        {%- else -%}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'collection-grid-promo__placeholder' }}
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class="collection-grid-promo__content">
      {%- if heading != blank -%}
        <h2 class="collection-grid-promo__heading">{{ heading }}</h2>
      {%- endif -%}

      {%- if text_field != blank -%}
        <div class="collection-grid-promo__text rte">{{ text_field | metafield_tag }}</div>
      {%- endif -%}

      {%- if tag_1 != blank or tag_2 != blank or tag_3 != blank -%}
        <div class="collection-grid-promo__tags">
          {%- if tag_1 != blank -%}
            <span class="collection-grid-promo__tag">{{ tag_1 }}</span>
          {%- endif -%}
          {%- if tag_2 != blank -%}
            <span class="collection-grid-promo__tag">{{ tag_2 }}</span>
          {%- endif -%}
          {%- if tag_3 != blank -%}
            <span class="collection-grid-promo__tag">{{ tag_3 }}</span>
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- if button_label != blank -%}
        <a
          class="collection-grid-promo__btn"
          href="{{ button_link | default: '#' }}"
        >
          {{ button_label }}
        </a>
      {%- endif -%}
    </div>

    {%- if layout == 'text-left' -%}
      <div class="collection-grid-promo__media">
        {%- if promo_image != blank -%}
          {{
            promo_image
            | image_url: width: 800
            | image_tag:
              loading: 'lazy',
              widths: '400, 600, 800',
              sizes: '(min-width: 750px) 40vw, 100vw',
              class: 'collection-grid-promo__image'
          }}
        {%- else -%}
          {{ 'lifestyle-2' | placeholder_svg_tag: 'collection-grid-promo__placeholder' }}
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
</li>
