{% doc %}
  Header Actions Component

  Renders the header actions.

  @param {object} [section] - The section object providing settings such as actions_font.
  @param {block} [block] - The block object, used for Shopify editor attributes.
  @param {string} [display_style] - Controls display mode for header actions: 'icon' or 'text'.
  @example
  {% render 'header-actions', section: section %}
{% enddoc %}

<script
  type="module"
  src="{{ 'cart-icon.js' | asset_url }}"
  fetchpriority="low"
></script>

{% capture cart_icon %}
  <cart-icon
    class="header-actions__cart-icon{% if display_style == 'text' %} header-actions__cart-icon--text{% endif %}{% unless cart == empty %} header-actions__cart-icon--has-cart{% endunless %}"
    data-testid="cart-icon"
  >
    <span class="{% if display_style == 'icon' %}hidden{% else %}mobile:hidden{% endif %}">
      {{ 'content.cart_title' | t }}
    </span>

    <span
      class="svg-wrapper {% if display_style != 'icon' %}desktop:hidden{% endif %}"
      aria-hidden="true"
    >
      {{ 'icon-cart.svg' | inline_asset_content }}
    </span>

    {% render 'cart-bubble', limit: 100 %}
  </cart-icon>
{% endcapture %}

{% capture account_icon %}
  <svg width="19" height="25" viewBox="0 0 19 25" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M9.375 12.5C10.6111 12.5 11.8195 12.1334 12.8473 11.4467C13.8751 10.7599 14.6762 9.78381 15.1492 8.64177C15.6223 7.49974 15.7461 6.24307 15.5049 5.03069C15.2638 3.81831 14.6685 2.70466 13.7944 1.83059C12.9203 0.956507 11.8067 0.361252 10.5943 0.120095C9.38193 -0.121063 8.12527 0.00270804 6.98323 0.475756C5.84119 0.948803 4.86507 1.74988 4.17831 2.77769C3.49156 3.8055 3.125 5.01387 3.125 6.25C3.12665 7.9071 3.78567 9.49585 4.95741 10.6676C6.12915 11.8393 7.7179 12.4983 9.375 12.5ZM9.375 2.08334C10.1991 2.08334 11.0047 2.32771 11.6899 2.78555C12.3751 3.24339 12.9091 3.89413 13.2245 4.65549C13.5399 5.41685 13.6224 6.25462 13.4616 7.06288C13.3008 7.87113 12.904 8.61356 12.3213 9.19628C11.7386 9.779 10.9961 10.1758 10.1879 10.3366C9.37962 10.4974 8.54184 10.4149 7.78049 10.0995C7.01913 9.78414 6.36838 9.25008 5.91054 8.56488C5.4527 7.87967 5.20833 7.07409 5.20833 6.25C5.20833 5.14493 5.64732 4.08513 6.42872 3.30372C7.21012 2.52232 8.26993 2.08334 9.375 2.08334Z" fill="#333333"/>
  <path d="M9.375 14.5869C6.88944 14.5897 4.50648 15.5783 2.74892 17.3358C0.991363 19.0934 0.00275714 21.4764 0 23.9619C0 24.2382 0.109747 24.5031 0.305097 24.6985C0.500447 24.8938 0.765399 25.0036 1.04167 25.0036C1.31793 25.0036 1.58289 24.8938 1.77824 24.6985C1.97359 24.5031 2.08333 24.2382 2.08333 23.9619C2.08333 22.028 2.85156 20.1734 4.21901 18.8059C5.58647 17.4385 7.44113 16.6702 9.375 16.6702C11.3089 16.6702 13.1635 17.4385 14.531 18.8059C15.8984 20.1734 16.6667 22.028 16.6667 23.9619C16.6667 24.2382 16.7764 24.5031 16.9718 24.6985C17.1671 24.8938 17.4321 25.0036 17.7083 25.0036C17.9846 25.0036 18.2496 24.8938 18.4449 24.6985C18.6403 24.5031 18.75 24.2382 18.75 23.9619C18.7472 21.4764 17.7586 19.0934 16.0011 17.3358C14.2435 15.5783 11.8606 14.5897 9.375 14.5869Z" fill="#333333"/>
</svg>
{% endcapture %}

<header-actions
  {% if display_style == 'text' %}
    class="header-actions--text"
  {% endif %}
  {{- block.shopify_attributes -}}
>


  {% if settings.cart_type == 'drawer' and template.name != 'cart' %}
    <script
      src="{{ 'cart-drawer.js' | asset_url }}"
      type="module"
      fetchpriority="low"
    ></script>

    {% capture empty_cart_drawer_content %}
     

      <div
        class="cart-drawer__content"
        aria-label="{{ 'accessibility.cart' | t }}"
      > 
      <div class="cart-drawer__header">
        <h2
          class="cart-drawer__heading h4 cart-drawer__heading--empty"
          id="cart-drawer-heading-empty"
        >
          {{ 'content.your_cart_is_empty' | t }}
        </h2>
        <button
          ref="closeButton"
          on:click="cart-drawer-component/close"
          class="button close-button cart-drawer__close-button button-unstyled"
          aria-label="{{ 'actions.close_dialog' | t }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>

        <div class="cart-drawer__items">
          {% render 'cart-products', force_empty: true %}
        </div>
      </div>
    {% endcapture %}

    <cart-drawer-component
      class="cart-drawer{% if display_style == 'text' %} cart-drawer--text{% endif %}"
      {{ block.shopify_attributes }}
      {% if settings.auto_open_cart_drawer %}
        auto-open
      {% endif %}
    >
      <template id="empty-cart-template">
        {{ empty_cart_drawer_content }}
      </template>
      <button
        class="header-actions__action button-unstyled{% if display_style == 'text' %} header-actions__text-style{% endif %}"
        on:click="/open"
        aria-haspopup="dialog"
        aria-label="{{ 'accessibility.cart' | t }}"
        aria-describedby="cart-bubble-text"
        data-testid="cart-drawer-trigger"
      >
        {{ cart_icon }}
      </button>

      <dialog
        ref="dialog"
        class="cart-drawer__dialog dialog-modal dialog-drawer color-{{ settings.drawer_color_scheme }}{% if cart.empty? %} cart-drawer--empty{%endif%}"
        data-testid="cart-drawer-dialog"
        aria-labelledby="{% if cart.empty? %}cart-drawer-heading-empty{% else %}cart-drawer-heading{% endif %}"
        scroll-lock
        cart-summary-sticky="false"
      >
        <span
          ref="liveRegion"
          class="visually-hidden"
          role="status"
        ></span>
        <div
          class="cart-drawer__inner"
          data-hydration-key="cart-drawer-inner"
        >
          {% capture cart_items_children %}
            {%- if cart.empty? -%}
              {{ empty_cart_drawer_content }}
            {%- else -%}
              <div
                class="cart-drawer__header"
                id="cart-drawer-header"
              >
                <div class="cart-drawer__share">
                  <h2 class="cart-drawer__heading h4" id="cart-drawer-heading">
                    {{ 'content.cart_title' | t }}
                    {% comment %} {% render 'cart-bubble' %} {% endcomment %}
                  </h2>
                  <button
                    type="button"
                    title="{{ 'actions.copy_shareable_cart_link' | t }}"
                    aria-label="{{ 'actions.copy_shareable_cart_link' | t }}"
                    class="button--cart__share button-unstyled"
                  >
                    {{- 'icon-share.svg' | inline_asset_content -}} 
                  </button>
                </div>
                <button
                  ref="closeButton"
                  on:click="cart-drawer-component/close"
                  class="button close-button cart-drawer__close-button button-unstyled"
                  aria-label="{{ 'actions.close_dialog' | t }}"
                >
                  <span class="svg-wrapper">
                    {{- 'icon-close.svg' | inline_asset_content -}}
                  </span>
                </button>
              </div>
              <scroll-hint
                class="cart-drawer__content"
                aria-label="{{ 'accessibility.cart' | t }}"
                style="--header-height: 60px;"
              >
                <scroll-hint
                  class="cart-drawer__items"
                >
                  {% render 'cart-products' %}
                  {% render 'cart-upsell', section: section %}
                </scroll-hint>

                <div
                  class="cart-drawer__summary"
                >
                  {% render 'cart-summary', section_id: section.id %}
                </div>
              </scroll-hint>
            {%- endif -%}
          {% endcapture %}
          {% render 'cart-items-component', children: cart_items_children, is_drawer: true, section_id: section.id %}
        </div>
      </dialog>
    </cart-drawer-component>
  {% else %}
    <a
      href="{{ routes.cart_url }}"
      class="header-actions__action action__cart{% if display_style == 'text' %} header-actions__text-style{% endif %}"
      aria-label="{{ 'accessibility.cart' | t }}"
      aria-describedby="cart-bubble-text"
    >
      {{ cart_icon }}
    </a>
  {% endif %}
  {% if shop.customer_accounts_enabled %}
    {% liquid
      assign account_actions_style = ''
      assign account_url = routes.account_login_url
      if customer
        assign account_url = routes.account_url
      endif

      if display_style == 'text' and section
        assign actions_font = section.settings.actions_font | default: 'body'
        assign font_obj = settings.type_heading_font
        case actions_font
          when 'body'
            assign font_obj = settings.type_body_font
          when 'subheading'
            assign font_obj = settings.type_subheading_font
          when 'accent'
            assign font_obj = settings.type_accent_font
        endcase
        assign font_family = font_obj.family | append: ', ' | append: font_obj.fallback_families
        assign font_family_safe = font_family | replace: '"', "'"
        assign account_actions_style = '--header-actions-font-family: ' | append: font_family_safe | append: '; --header-actions-font-weight: ' | append: font_obj.weight | append: ';'
      endif
    %}
    <a
      href="{{ account_url }}"
      class="account-button header-actions__action{% if display_style == 'text' %} account-button--text{% endif %}"
      aria-label="{{ 'content.account_title' | t }}"
      rel="nofollow"
      {% if account_actions_style != blank %}
        style="{{ account_actions_style }}"
      {% endif %}
    >
      <span
        class="account-button__text header-actions__text-style {% if display_style == 'icon' %}hidden{% else %}mobile:hidden{% endif %}"
      >
        {{ 'content.account_title' | t }}
      </span>

      <span
        class="account-button__icon{% if display_style != 'icon' %} desktop:hidden{% endif %}"
        aria-hidden="true"
      >
        {{ account_icon }}
      </span>
    </a>
  {% endif %}

  <span
    ref="liveRegion"
    class="visually-hidden"
    role="status"
    data-testid="cart-count-live-region"
  ></span>
</header-actions>

<script
  type="module"
  src="{{ 'header-actions.js' | asset_url }}"
  fetchpriority="low"
></script>

{% stylesheet %}
  .account-button {
    background: transparent;
    align-items: center;
    line-height: normal;
    text-decoration: none;
  }

  .account-button__icon,
  .account-button__text {
    color: var(--color-account-icon);
    transition: color var(--header-content-transition-timing);
    -webkit-font-smoothing: antialiased;
  }

  header-actions {
    display: flex;
    gap: 0px;

    @media screen and (max-width: 749px) {
      justify-self: flex-end;
    }
  }

  @media screen and (min-width: 750px) {
    .header-actions--text {
      gap: var(--gap-xl);
    }

    .header-actions__text-style {
      font-size: var(--header-actions-font-size);
      font-family: var(--header-actions-font-family);
      font-weight: var(--header-actions-font-weight);
      text-transform: var(--header-actions-text-case);
    }
  }

  #header-component[data-menu-style='drawer'] header-actions {
    justify-self: flex-end;
  }

  .header__column--right header-actions {
    margin-inline-start: calc(var(--gap-md) * -1);
  }

  .header-actions__cart-icon {
    --cart-bubble-size: 20px;
    --cart-bubble-top: 4.5px;
    --cart-bubble-right: 2.5px;

    position: relative;
  }

  .header-actions__cart-icon .cart-bubble {
    position: absolute;
    width: var(--cart-bubble-size, 20px);
    top: var(--cart-bubble-top);
    right: var(--cart-bubble-right);
  }

  @media screen and (min-width: 750px) {
    .header-actions__cart-icon--text.header-actions__cart-icon .cart-bubble {
      position: relative;
      top: 0;
    }
  }

  
  .header-actions__cart-icon.header-actions__cart-icon--has-cart svg {
    /* Create donut mask where the cart bubble sits */
    mask: radial-gradient(
      calc(var(--cart-bubble-size) + 2px) at calc(100% - var(--cart-bubble-right)) var(--cart-bubble-top),
      transparent 45.45%,
      #fff 45.45%,
      #fff 100%
    );
  }

  .cart-drawer__heading .cart-bubble .cart-bubble__background {
    background-color: rgb(var(--color-foreground-rgb) / var(--opacity-10-25));
  }

  .cart-drawer__heading .cart-bubble__text {
    color: var(--color-foreground);
    font-size: clamp(var(--font-size--3xs), 0.75em, var(--font-size--xs));
  }

  .cart-bubble.cart-bubble--animating .cart-bubble__background {
    animation: grow var(--animation-speed) var(--animation-easing);
  }

  .cart-bubble--animating .cart-bubble__text {
    --start-y: -1em;
    --start-opacity: 1;
    /* Set initial transform state before animation starts */
    transform: translate(0, var(--start-y, -1em));
    opacity: var(--start-opacity, 1);
    animation: move-and-fade var(--animation-speed) var(--animation-easing);
  }

  cart-icon:has(.cart-bubble__text-count:empty) {
    --cart-bubble-size: 10px;
    --cart-bubble-top: 9px;
    --cart-bubble-right: 9px;

    .svg-wrapper {
      --cart-bubble-top: 4px;
      --cart-bubble-right: 4px;
    }
  }

  @media screen and (min-width: 750px) {
    cart-icon.header-actions__cart-icon--text:has(.cart-bubble__text-count:empty) {
      --cart-bubble-right: 2.5px;
    }
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    html:active-view-transition-type(empty-cart-drawer) {
      .cart-drawer__close-button {
        view-transition-name: cart-drawer-close-button;
      }
    }
  }

  :active-view-transition {
    .cart-drawer__header,
    .cart-drawer__content {
      background: transparent;
    }
  }

  ::view-transition-old(cart-drawer-content) {
    transform-origin: 50% 33%;
    animation: cart-contents-old var(--spring-d280-b0-duration) var(--spring-d280-b0-easing) forwards;
  }

  ::view-transition-new(cart-drawer-content) {
    transform-origin: top center;
    animation: cart-contents-new var(--spring-d280-b0-duration) var(--spring-d280-b0-easing) forwards;
  }

  @keyframes cart-contents-old {
    to {
      scale: 0.92;
      opacity: 0;
    }
  }

  @keyframes cart-contents-new {
    from {
      scale: 1.05;
      translate: 0 128px;
      filter: blur(1px);
      opacity: 0;
    }
  }
  .header-actions__text {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 750px) {
    .header-actions__cart-icon--text {
      display: flex;
      align-items: center;
      gap: var(--gap-xs);
    }

    .header__column--right .header-actions--text {
      margin-inline-start: 0;
    }
  }
{% endstylesheet %}
